.container {
    margin-top: 60px;
}

table thead th td, table thead tr td,
table tbody th td, table tbody tr td,
table tfoot th td, table tfoot tr td {
    vertical-align: middle !important;
}

table thead th td svg, table thead tr td svg,
table tbody th td svg, table tbody tr td svg,
table tfoot th td svg, table tfoot tr td svg {
    cursor: pointer;
}